{% extends 'base.html' %}

{% block content %}
<h1 align="center">Admin Page Placeholder</h1>
<table style="width:60%;" border="2" align="center">
    <tr>
    <th style="background-color:white;" align="left">
    <form action="{{ url_for('admin') }}" method="post">  
        <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <button type="submit">Login</button>
        </div>
  </form>
    </th>
    </tr>
    <ul>
        {% for reserv in reservations %}
        <li>
            {{ reserv.passengerName }} - ID: {{ reserv.id }} - Seat Number: {{reserv.seatRow}} , {{reserv.seatColumn}} - eTicket Number: {{reserv.eTicketNumber}} - Created: {{ reserv.created('%Y-%m-%d')}}
            <div>
                <form action="{{ url_for('delete_task', id=reserv.id) }}" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>
</table>
{% endblock %}
